body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
h1, h2, h3, h4, h5, h6 {
    color: #1B1B1B;
}
p {
    color: #4b4b4b;
}
.TextColor {
    color: #FFA500;
}

.half-width {
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}

.half-width img {
    width: 112%;
}

h1 {
    padding: 0;
    margin: 0;
    font-size: 50px;
    font-weight: 600;
}
h3 {
    font-weight: 500;
}
.hero {
    background-image: url("images/top-banner.png");
    display: inline-block;
    background-repeat: no-repeat;
    padding-top: 50px;
}
.hero-text {
    padding: 60px 0px;
    padding-left: 15px;
}

.hirebtn {
    text-decoration: none;
    color: #fff;
    background: linear-gradient(to right, #7B31D7,#6553DC, #536ADF);
    padding: 10px 40px;
    font-weight: 600;
    border: none;
    border-radius: 7px;
    display: inline-block;
    margin-top: 15px;
}

.second-img img {
    width: 100%;
}

.second-text {
    display: inline-block;
    padding: 90px 0;
}


.about-area {
    padding: 80px 0;
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    display: inline-block;
    background-position: right;
}

.dream-text {
    padding-right: 15px;
}

.experience {
    padding-bottom: 10px;
    padding-left: 5%;
    font-size: 40px;
}

.first-card h2, .second-card h2 {
    font-weight: 600;
    padding: 0;
    margin: 0;
}

.first-card, .second-card {
    box-shadow: 10px 10px 40px 0px #a6a6a6;
    border-radius: 10px;
}
.card-text {
    padding: 45px;
    height: 225px;
}

.experience-area {
    padding-bottom: 100px;
    padding-top: 20px;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    display: inline-block;
    background-position: left;
    background-size: 7%;
}

.first-card {
    border-left: 7px solid;
    border-image: linear-gradient(#7C2FD8,#00FCFF);
    border-image-slice: 1;
}

.second-card {
    border-left: 7px solid;
    border-image: linear-gradient(#FF674A,#FF9A75);
    border-image-slice: 1;
}

footer {
    text-align: center;
}

 /* Extra small devices (phones, 600px and down) */
 @media only screen and (max-width: 600px) {
    .half-width {
        width: 85%;
        float: left;
        margin-left: 5%;
        padding-left: 2%;
        margin-right: 5%;
    }
    h1 {
        font-size: 40px;
    }
    h3 {
        font-size: 17px;
    }
    .half-width img {
        width: 100%;
    }
    .second-img {
        display: none;
    }
    .second-text {
        padding: 0;
    }
    .about-area {
        padding: 50px 0;
        background-size: 16%;
    }
    .card-text {
        padding: 25px;
        height: 350px;
    }
    .first-card, .second-card {
        margin-bottom: 60px;
    }
    .experience-area {
        background-size: 20%;
        padding-bottom: 0px;
    }
 }

 /* Small devices (portrait tablets and large phones, 600px and up) */
 @media only screen and (min-width: 600px) {
    h1 {
        font-size: 50px;
    }
    .card-text {
        height: 240px;
    }
    .experience-area {
        background-size: 12%;
    }
 }
 
 /* Medium devices (landscape tablets, 768px and up) */
 @media only screen and (min-width: 768px) {
    h1 {
        font-size: 45px;
    }
    .half-width img {
        width: 100%;
        padding: 100px 0;
    }
    .hero-text {
        padding: 25px 0px;
    }
    .hero-text p {
        font-size: 14px;
    }
    .second-text p {
        font-size: 14px;
    }
    .about-area {
        background-size: 10%;
    }
    .second-text {
        padding: 0px 0;
    }
    .half-width img {
        padding: 50px 0;
    }
    .second-card.half-width {
        width: 85%;
        
    }
    .first-card.half-width {
        width: 85%;
        margin-bottom: 70px;
    }
    .experience-area {
        background-size: 15%;
        padding-bottom: 50px;
    }
    .about-area {
        padding-top: 60px;
        padding-bottom: 20px;
    }
    .experience {
        font-size: 35px;
        font-weight: 600;
    }
 }
 
 /* Large devices (laptops/desktops, 992px and up) */
 @media only screen and (min-width: 992px) {
    .hero-text {
        padding: 5px 0px;
    }
    .second-text {
        padding: 0px 0;
    }
    .card-text {
        padding: 20px;
        height: 280px;
    }
 }
 
 /* Extra large devices (large laptops and desktops, 1200px and up) */
 @media only screen and (min-width: 1200px) {
    h1 {
        font-size: 50px;
    }
    .hero-text p {
        font-size: 16px;
    }
    .hero-text {
        padding: 35px 0px;
    }
    .second-text {
        padding: 100px 0;
    }
    .about-area {
        background-size: 8%;
    }
    .card-text {
        padding: 20px;
        height: 245px;
    }
    .first-card.half-width {
        width: 40%;
    }
    .second-card.half-width {
        width: 40%;
    }
    .experience-area {
        background-size: 7%;
        padding-bottom: 20px;
    }
    .second-text p {
        font-size: 16px;
    }
    .experience {
        font-size: 40px;
    }
    .half-width img {
        padding: 10px 0;
        width: 112%;
    }
 } 